footer,
header,
nav,
section,
button,
input,
select,
textarea {
	transition: 1s;
	outline: none;
	font-family: sans-serif;
	font-weight: 600;
}

svg:not(:root) {
	overflow: hidden;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	color: #bfc1c8;
	font-family: "Roboto", "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	background: #1e202b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0 0 20px;
	line-height: normal;
}

a {
	text-decoration: none;
	color: #009ad8;
}

form input,
form textarea,
form select {
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 30px;
}

.button,
form input[type="submit"],
form button,
form input[type="reset"] {
	border: none;
	background: #009ad8;
	padding: 10px 20px;
	border-radius: 30px;
	color: white;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

@media (min-width: 500px) {
	html {
		width: 100%;
	}
	.container {
		width: 500px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

.container-fluid:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.site-header {
	padding: 1rem 0;
}

.site-header .branding {
	float: left;
}

.site-header .branding .logo,
.site-header .branding .logo-type {
	display: inline-block;
	vertical-align: middle;
}

.site-header .branding .logo {
	margin-right: 10px;
}

.site-header .branding .site-title {
	margin-bottom: 5px;
	font-size: 17px;
	font-size: 1.1428571429em;
	color: white;
}

.site-header .branding .site-description {
	font-size: 10px;
	font-size: 0.7142857143em;
	display: block;
	color: #bfc1c8;
}

.logo:hover {
	cursor: pointer;
	animation: shake 0.5s;
	animation-iteration-count: infinite;	
	transition: 1s;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.main-navigation .menu-toggle,
.main-navigation .menu {
	vertical-align: middle;
}

@media screen and (max-width: 990px) {
	.main-navigation .menu-toggle {
		display: inline-block;
	}
}

.main-navigation .menu {
	list-style: none;
	display: inline-block;
	*zoom: 1;
}

.main-navigation .menu:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.main-navigation .menu .menu-item {
	float: left;
	margin-left: 10px;
	padding-top: 2rem 
}

.main-navigation .menu .menu-item a {
	padding: 5px 25px;
	border: 2px solid transparent;
	border-radius: 30px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	font-weight: 400;
}

.main-navigation .menu .menu-item.current-menu-item a,
.main-navigation .menu a {
	border-color: #009ad8;
	font-weight: 600;
	color: #009ad8; 

}
.main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
	border-color: #009ad8;
	color: #009ad8; }

.hero {
	background-size: cover;
	padding: 70px 0;
	min-height: 400px;
	height: fit-content;
}

.find-location {
	position: relative;
	margin-bottom: 70px;
}

.find-location input[type="text"] {
	width: 100%;
	padding: 20px 50px 20px 20px;
	background: #1e202b;
	color: white;
}

.find-location input[type="submit"] {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding: 0 40px;
}

.find-location button {
	position: absolute;
	top: 5px;
	right: 9rem;
	bottom: 5px;
	padding: 0 40px;
}

.forecast-container {
	width: 86.6%;
	display: table;
	table-layout: fixed;
	overflow: hidden;
	border-radius: 10px;
	color: white;
	margin-bottom: 50px;
	box-shadow: 10px 10px 5px #070608;
}

.forecast-container {
	background: #323544;
}

.forecasts-container {
	width: 100%;
	background: #c2c2c2;
	display: table;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 50px;
	color: white;
	border: 1px solid #c2c2c2;
}

.main-navigation {
	float: right;
}

.forecast-container .forecast {
	display: table-cell;
	vertical-align: top;
}

.forecast-container .forecast:nth-child(even) {
	background: rgba(0, 0, 0, 0.2);
	color: white
}

.importa {
	z-index: 1;
	color: white;
	opacity: 100% !important;
}

.forcasts {
	background-color: #fff;
}

@media screen and (max-width: 580px) {
	.forecast-container .forecast {
		display: flex;
		width: 100%;
		float: left;
	}
	.forecast-container .forecast.today {
		display: inline-flex;
	}
}

@media screen and (max-width: 990px) {
	.forecast-container .forecast {
		display: block;
		width: 100%;
		float: left;
	}
	.forecast-container .forecast.today {
		display: inline-flex;
	}
}

.forecast-container .forecast.today {
	width: 18rem;
}

.forecast-container .forecast.today .forecast-header {
	*zoom: 1;
}

.forecast-container .forecast.today .forecast-header:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.forecast-container .forecast.today .forecast-header .day {
	float: left;
}

.forecast-container .forecast.today .forecast-header .date {
	float: right;
}

.forecast-container .forecast.today .forecast-content {
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
}

.forecast-container .forecast.today .location {
	font-size: 18px;
	font-size: 1.2857142857em;
	font-weight: 400;
}

.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
	display: inline-block;
	vertical-align: middle;
}

.forecast-container .forecast.today .degree .num {
	font-size: 90px;
	font-size: 6.4285714286rem;
	margin-right: 30px;
}

.forecast-container .forecast.today span {
	margin-right: 20px;
}

.forecast-container .forecast.today span img {
	margin-right: 5px;
	vertical-align: middle;
}

.brightness {
	height: 55rem;
	transition: 1s;
}

.darkness {
	height: 55rem;
	transition: 1s;
}

@media screen and (max-width: 990px) {
	.forecast-container .forecast.today {
		display: list-item;
		width: 100%;
	}
	.location,
	.degree,
	.flexin {
		text-align: center;
		font-size: 20px;
		padding: auto;
		display: inline-flex;
	}
	.brightness {
		background-size: 500% 110%;
		animation: gradient 15s ease infinite;
		height: 100rem; 
		transition: 1s;
		color: rgb(0, 110, 254);
	}
	.darkness {
		background-size: 500% 110%;
		animation: gradient 15s ease infinite;
		height: 100%;
		transition: 1s;
	}
}

@media (max-width: 900px) {
	.aclass {
		display: inline-flex;
	}
	.flexin {
		display: inline-block;
	}
	.hero {
		height: 100rem;
	}
	.container {
		width: 100rem;
	}
	footer {
		margin-top: 30rem;
	}
}

@media (max-width: 580px) {
	.aclass {
		display: inline-flex;
	}
	.flexin {
		display: inline-block;
	}
	.hero {
		height: 120rem;
	}
	.container {
		width: 30rem;
	}
	footer {
		margin-top: 30rem;
	}
}

.flexin {
	display: inline-block;
	color: white
}

.forecast-container .forecast .forecast-header {
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	font-weight: 400;
}

.forecast-container .forecast .forecast-icon {
	height: 50px;
}

.forecast-container .forecast .forecast-content {
	padding: 50px 20px 10px;
	text-align: center;
}

.forecast-container .forecast .forecast-content .forecast-icon {
	margin-bottom: 20px;
}

.forecast-container .forecast .forecast-content .degree {
	font-size: 24px;
	font-size: 1.7142857143em;
	color: white;
	font-weight: 700;
}

.forecast-container .forecast .forecast-content small {
	font-size: 16px;
	font-size: 1.1428571429em;
}

button:hover {
	transition: 1s;
}

a:hover {
	text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	10% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 20% 20%;
	}
}