.btn{
    background-color: #009ad8;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    border: none;
    color: white;
}
.btn:hover{
    transition-duration: 0.4s;
    box-shadow: 10px 10px 5px #070608;

}


@media screen and (max-width: 990px) {
    .btn{
        margin: 0 auto;
        
    }
    }